ENVIRONMENT=

SERVER_PORT=
SERVER_WORKERS_COUNT=

USE_CORS_MIDDLEWARE=
USE_TIMER_MIDDLEWARE=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

MINIO_HOST=
MINIO_PORT=
MINIO_WEB_PORT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY_ID=
MINIO_SECRET_ACCESS_KEY=
MINIO_DEFAULT_BUCKET=

PREFECT_PORT=
PREFECT_SERVER_API_HOST=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=